{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata">
            <i class="fa fa-calendar"></i>
            {{ post.createdAt|date('Y-m-d H:i:s') }}</span>
    </p>

    {{ post.body|md2html }}

    {{ include('post/tags.html.twig') }}

    <div id="post-add-comment" class="well">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\BlogController::commentForm', {'id': post.id})) }}
        {% endif %}
    </div>

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i>
        {{ post.comments|length }}
        comments
    </h3>

    {% for comment in post.comments %}
        <div class="row post-comment">
            <a name="comment_{{ comment.id }}"></a>
            <h4 class="col-sm-3">
                <strong>{{ comment.user.fullName }}
                    on
                    {{ comment.createdAt|date }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content|md2html }}
            </div>
        </div>
    {% endfor %}

    {% block user_actions %}
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" href="{{ path('post_index') }}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>Back to index</a>

                {% if app.user == post.user %}

                    <a class="btn btn-success" href="{{ path('post_edit', {'slug': post.slug}) }}">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Edit
                    </a>

                    <form action="{{ url('post_delete', {slug: post.slug}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this post?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}"/>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Delete
                        </button>
                    </form>

                {% endif %}
            </div>
        </div>
    {% endblock %}

{% endblock %}
